/*Styling for the body of the wesbite*/
body {
    margin: 0;
    padding: 20px;
    background-color: #f2e6d5;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 20px;
}

/*Styling for the header rectangles*/
#headerRectangle {
    width: 100%;
    height: 175px;
    background-color: rgb(94, 122, 196);
    border-radius: 15px;
    border-color: rgb(56, 82, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

/*Styling for the login column*/
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
}

/*Styling for the login column*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 30px auto;
    gap: 50px;
    width: 75%;
}

/*Styling for the login rectangles*/
#employeeLoginRectangle,
#managerLoginRectangle {
    position: relative;
    width: 80%;
    height: 300px;
    background-color: rgb(243, 190, 122);
    border-radius: 15px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    text-align: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*login placeholder before user starts typing*/
[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: gray;
    pointer-events: none;
}

/*Styling for the username rectangles*/
#employeeUsername,
#managerUsername {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 40px;
    background-color: rgb(246, 243, 243);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*Styling for the password rectangles*/
#employeePassword,
#managerPassword {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 40px;
    background-color: rgb(246, 243, 243);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*Styling for the login buttons*/
#employeeLoginButton,
#managerLoginButton {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 40px;
    background-color: lightcoral;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*Styling for the headers on pages*/
#employeeDashboardHeader,
#managerDashboardHeader,
#turnoverReportHeader,
#exitInterviewHeader,
#processOffboardingHeader {
    width: 100%;
    height: 175px;
    background-color: rgb(94, 122, 196);
    border-radius: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
}

/*Styling for the welcome messages when a user logs in*/
#welcomeMessageManager,
#welcomeMessageEmployee {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

/*Styling for the employee dashboard column*/
.employeeDashboardColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
}

/*Styling for the employee dashboard contents*/
#employeeUpdateInfo,
#trackGoals,
#requestManagerMeeting,
#viewPerformance,
#requestResignation {
    width: 60%; 
    max-width: 900px; 
    height: 120px; 
    background-color: rgb(243, 190, 122);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*Styling for the employee dashboard contents*/
#employeeUpdateInfo:hover,
#trackGoals:hover,
#requestManagerMeeting:hover,
#viewPerformance:hover,
#requestResignation:hover {
    background-color: rgb(240, 141, 57);
    transform: scale(1.02);
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*Styling for links within the website*/
a {
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*Styling for the employee dashboard contents*/
.managerDashboardColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;   
    margin-top: 20px;     
    width: 100%;
    gap: 20px;
}

/*Styling for the manager dashboard contents*/
#conductExitInterview,
#processOffboarding,
#manageEmployeeSeparation,
#generateTurnoverReport,
#updateEmployeeRecords,
/*Styling for content within pages for exit interview and view resignation requests (part of process offboarding)*/
#exitInterview,
#viewResignationRequests {
    position: relative;
    width: 60%; 
    max-width: 900px; 
    height: 120px;
    background-color: rgb(243, 190, 122);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*Styling for the manager dashboard contents*/
#conductExitInterview:hover,
#processOffboarding:hover,
#manageEmployeeSeparation:hover,
#generateTurnoverReport:hover,
#updateEmployeeRecords:hover,
#exitInterview:hover,
#viewResignationRequests:hover {
    background-color: rgb(240, 141, 57);
    transform: scale(1.02);
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
}

/*Conduct Exit Interview Styling*/
.todoListColumn {
    height: 400px;
    width: 60%;
    padding: 10px;
    background-color: rgb(243, 190, 122);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.todoListColumn form div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

/*Dashboard home button*/
#dashboard {
    top: 15px;
    left: 20px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    align-self: flex-start;
    width: auto;        
    display: inline;
}
#dashboard:hover {
    text-decoration: underline;
}

/*Styling for offboarding checklist*/
.offboardingChecklist {
    height: 300px;
    width: 60%;
    padding: 10px;
    background-color: rgb(243, 190, 122);
    border-radius: 15px;
    justify-content: top;
    text-align: center;
    flex-direction: column;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.offboardingChecklist form div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

/*Styling for turnover report page */
#reasonsForLeaving,
#turnoverPercentages,
#avgPerformanceRatings,
#spreadsheetData {
    position: relative;
    z-index: 1;
    width: 40%; 
    max-width: 900px; 
    height: 100px;
    background-color: rgb(243, 190, 122);
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#reasonsForLeaving p,
#turnoverPercentages p,
#avgPerformanceRatings p,
#spreadsheetData p {
    margin: 0;             
}